*{
	margin: 0;
	padding: 0;
} 



body {
	margin:0;
	padding:0;
}




p {
	font-family:"바탕l";
	font-size: 1em;
	text-indent:1em;
	text-align:justify;
	line-height:2em;
	margin:0;
	padding:0;
	word-break:break-all;
}



@font-face { font-family: "돋움m"; src: url(../Fonts/KoPubWorldDotumMedium.ttf); }
@font-face { font-family: "바탕l"; src: url(../Fonts/KoPubWorldBatangLight.ttf); }
@font-face { font-family: "바탕b"; src: url(../Fonts/KoPubWorldBatangBold.ttf); }
@font-face { font-family: "엠비"; src: url(../Fonts/MBC1961M.ttf); }
@font-face { font-family: "지마2"; src: url(../Fonts/GmarketSansBold.otf); }

@font-face { font-family: "어그"; src: url(../Fonts/SBaggL.ttf); }

.dl{font-family: "돋움l";}
.dm{font-family: "돋움m";}
.db{font-family: "돋움b";}
.bl{font-family: "바탕l";}
.bm{font-family: "바탕m";}
.bb{font-family: "바탕b";}


.w100{
	width:auto !important;
	max-width:100% !important;
	text-align:center;
	margin:0 auto;
}
.cover{
	width:100%;
	height:100%;
	text-indent:0;
	text-align:center;
	display:box;
	box-orient:horizontal;
	box-pack:center;
	box-align:center;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-pack:center;
	-webkit-box-align:center;
	display:-moz-box;
	-moz-box-orient:horizontal;
	-moz-box-pack:center;
	-moz-box-align:center;
}
img.cover{
	width:100%;
	height:auto;
}
.break{
	 page-break-after:always;
	 -webkit-column-break-after:always;
}

h3, h4, h5, h6{
	font-weight:normal;
}
.page{
	page-break-inside:avoid;
}



.bar{
	font-size:0.85em;
}
.head{
	font-family:"엠비";
	font-size:1.3em;
	text-indent:0;
	line-height:1.6em !important;
	margin-left:0.75em;
}
.pre{
	font-family:"엠비";
	font-size:1.2em;
	text-indent:0;
	line-height:1.6em !important;
	margin-left:0.85em;
}
.right{
	text-indent:0;
	text-align:right;
}
.tcenter{
	font-size:1.05em;
	text-indent:0;
	text-align:center;
	line-height:1em;
	margin-top:2px;
}
.pre2{
	font-family:"바탕b";
	font-size:1.05em;
	text-indent:0;
	line-height:1.7em !important;
	margin-left:0.95em;
}